*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
    text-align: center;
}
h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-style: italic;
    background-color: black;
    color: whitesmoke;
}


.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    font-size: 8vmin;
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    background-color: bisque;
}
.msg-container{
    height: 20vmin;
    margin-top: 5vmin;
    margin-bottom: 5vmin;
}

.msg{
    font-size: 8vmin;
    color: white;
    padding: 3vmin;
}
#btn{
    font-size: 1.25rem;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    border: none;
    background-color: black;
    align-items: center;
}
.hide{
    display: none;
}